# Default ignored files
/shelf/
.idea/workspace.xml
# Datasource local storage ignored files
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

LICENSE
.env
.idea
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/discord.xml
.idea/misc.xml
.idea/mobot.iml
.idea/modules.xml
.idea/sqldialects.xml
.idea/vcs.xml